Q1. List of five functions of the pandas library with execution.

i . read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [ ]:

import pandas as pd

df= pd.reead_csv('data file.csv  ')
print(df)

AttributeError: module 'pandas' has no attribute 'reead_csv'

ii.head(): It returns the first n rows of a DataFrame. By default, it returns the first 5 rows.

In [5]:
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': ['a', 'b', 'c', 'd', 'e']})

# Display the first 3 rows
print(data.head(3))

   A  B
0  1  a
1  2  b
2  3  c

iii.describe(): It provides summary statistics of numerical columns in a DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.

In [7]:

data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': [10, 20, 30, 40, 50]})
print(data.describe())

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

iv. groupby(): This function is used for grouping rows in a DataFrame based on one or more columns and applying aggregation functions to them.

In [12]:
df = pd.DataFrame({'Name': ['Aman', 'Jack', 'Aarav', 'Jocki', 'Job'],
                     'Age': [25, 30, 35, 25, 40],
                     'Salary': [5000, 6000, 7000, 5500, 4500]})

grouped_df = df.groupby('Name')['Salary'].mean()
print(grouped_df)

Name
Aarav    7000.0
Aman     5000.0
Jack     6000.0
Job      4500.0
Jocki    5500.0
Name: Salary, dtype: float64

v.sort_values(): It sorts a DataFrame based on one or more columns.

In [15]:
sorted_df = df.sort_values('Salary', ascending=False)
print(sorted_df)

    Name  Age  Salary
2  Aarav   35    7000
1   Jack   30    6000
3  Jocki   25    5500
0   Aman   25    5000
4    Job   40    4500

Q 2. ReIndex of data Frame:-

In [6]:
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e'],
        'C': [True, False, True, False, True]}

df = pd.DataFrame(data)

print (df)

   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
3  4  d  False
4  5  e   True

In [7]:

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

In [8]:
new_df = reindex_dataframe(df)

In [9]:
print(new_df)

   A  B      C
1  1  a   True
3  2  b  False
5  3  c   True
7  4  d  False
9  5  e   True

Q. 3  DataFrame df with a column named 'Values'. sum of the first three values in the 'Values' column

In [12]:
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e'],
        'C': [True, False, True, False, True]}

df = pd.DataFrame(data)

print (df)

   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
3  4  d  False
4  5  e   True

In [28]:
data = {'Values': [10, 20, 30, 40, 50]}
df1 = pd.DataFrame(data)

In [29]:
print(df1)

   Values
0      10
1      20
2      30
3      40
4      50

In [30]:
def calculate_sum(df1):
    values_sum = df1['Values'].head(3).sum()
    print("Sum of the first three values:", values_sum)

In [31]:
calculate_sum(df1)

Sum of the first three values: 60

Q 4. A new column 'Word_Count' in a Pandas DataFrame based on the number of words in each row of the 'Text' column.

In [42]:
data = {'Text': ['This is a sample text.',
                 'It has multiple words in each row.',
                 'Pandas DataFrame with Python is amazing!']}
df2 = pd.DataFrame(data)

In [46]:
def count_words(text):
    words = text.split()
    return len(words)
def add_word_count_column(df2):
    df2['Word_Count'] = df2['Text'].apply(count_words)

In [47]:
add_word_count_column(df2)

print(df2)

                                       Text  Word_Count
0                    This is a sample text.           5
1        It has multiple words in each row.           7
2  Pandas DataFrame with Python is amazing!           6

Q.5  How are DataFrame.size() and DataFrame.shape() different?


i.DataFrame.size returns the total number of elements in the DataFrame.

ii.DataFrame.shape returns a tuple containing the dimensions of the DataFrame.
It provides the number of rows followed by the number of columns in the DataFrame.
The value returned by DataFrame.shape is a tuple (rows, columns) representing the shape of the DataFrame.

In [49]:
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}

df3 = pd.DataFrame(data)

print("DataFrame.size:", df3.size)
print("DataFrame.shape:", df3.shape)

DataFrame.size: 6
DataFrame.shape: (3, 2)

Q. 6 Which function of pandas do we use to read an excel file

df = pd.read_excel('path/to/your/file.xlsx')

Q 7.  DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'.

In [ ]:
data = {'Email': ['viru.pw@example.com',
                  'jack.singh@example.com',
                  'bob.surraf@example.com']}
df4 = pd.DataFrame(data)

print(df4)

                    Email
0     viru.pw@example.com
1  jack.singh@example.com
2  bob.surraf@example.com

In [55]:
def extract_username(email):
    return email.split('@')[0]

def add_username_column(df4):
    df4['Username'] = df4['Email'].apply(extract_username)

In [56]:
add_username_column(df4)

print(df4)

                    Email    Username
0     viru.pw@example.com     viru.pw
1  jack.singh@example.com  jack.singh
2  bob.surraf@example.com  bob.surraf

In [ ]:
Q 8.function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows.

In [3]:
import pandas as pd
data = {'A': [3,8, 6,2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df5 = pd.DataFrame(data)

In [4]:
def select_rows(df5):
    selected_rows = df5[(df5['A'] > 5) & (df5['B'] < 10)]
    return selected_rows

In [5]:
selected_df5 = select_rows(df5)

print(selected_df5)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q 9. Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column

In [7]:
data = {'Values': [10, 20, 30, 40, 50]}
df8 = pd.DataFrame(data)

In [8]:
def calculate_stats(df):
    values_mean = df8['Values'].mean()
    values_median = df8['Values'].median()
    values_std = df8['Values'].std()
    return values_mean, values_median, values_std

In [9]:
mean, median, std = calculate_stats(df8)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q 10 calculate moving average:-

In [5]:

df10 = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-21', '2023-07-20'],
               'Sales': [100, 200, 500, 300]})
df10 = calculate_moving_average(df10)
print(df10)

         Date  Sales  MovingAverage
0  2023-07-01    100     100.000000
1  2023-07-02    200     150.000000
2  2023-07-21    500     266.666667
3  2023-07-20    300     275.000000

Q 11. e a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame.

In [11]:
import pandas as pd
data = {'Date': ['2023-01-01',
                 '2023-01-02',
                 '2023-01-03',
                 '2023-01-04',
                 '2023-01-05']}
df9 = pd.DataFrame(data)

In [12]:
def add_weekday_column(df9):
    df9['Weekday'] = df9['Date'].dt.day

In [13]:
df9['Date'] = pd.to_datetime(df9['Date'])
add_weekday_column(df9)

print(df9)

        Date  Weekday
0 2023-01-01        1
1 2023-01-02        2
2 2023-01-03        3
3 2023-01-04        4
4 2023-01-05        5

In [14]:
df9['Date']=pd.to_datetime(df9['Date'])
add_weekday_column(df9)

In [15]:
print(df9)

        Date  Weekday
0 2023-01-01        1
1 2023-01-02        2
2 2023-01-03        3
3 2023-01-04        4
4 2023-01-05        5

In [ ]:
Q 12.  Given a Pandas DataFrame df12 with a column 'Date' that contains timestamps, and a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'

In [3]:
import pandas as pd

df12 = pd.DataFrame({
    'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-02-01', '2023-03-15'],
    'Value': [1, 2, 3, 4, 5]
})

In [6]:
print (df12)

         Date  Value
0  2022-12-31      1
1  2023-01-01      2
2  2023-01-15      3
3  2023-02-01      4
4  2023-03-15      5

In [13]:
def select_rows_between_dates(df12):
    df12['Date'] = pd.to_datetime(df12['Date']) 
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    mask = (df12['Date'] >= start_date) & (df12['Date'] <= end_date)
    selected_rows = df12.loc[mask]
    return selected_rows

In [14]:
selected_rows = select_rows_between_dates(df12)
print(selected_rows)

        Date  Value
1 2023-01-01      2
2 2023-01-15      3

13. To use the basic functions of Pandas, the first and foremost library that needs to be imported is pandas itself. It is a popular library in Python for data manipulation and analysis. Here's an example of how to import the Pandas library.

In [15]:
import pandas as pd